*.pyc
__pycache__
*.orig
.idea

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
django_tek/front_end/node_modules/
django_tek/front_end/.pnp
django_tek/front_end/.pnp.js

# testing
django_tek/front_end/coverage

# production
django_tek/front_end/build

# misc
django_tek/front_end/.DS_Store
django_tek/front_end/.env.local
django_tek/front_end/.env.development.local
django_tek/front_end/.env.test.local
django_tek/front_end/.env.production.local

django_tek/front_end/npm-debug.log*
django_tek/front_end/yarn-debug.log*
django_tek/front_end/yarn-error.log*
