*.pyc
__pycache__
*.orig
.idea

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
django_tek/tek-app/node_modules/
django_tek/tek-app/.pnp
django_tek/tek-app/.pnp.js

# testing
django_tek/tek-app/coverage

# production
django_tek/tek-app/build

# misc
django_tek/tek-app/.DS_Store
django_tek/tek-app/.env.local
django_tek/tek-app/.env.development.local
django_tek/tek-app/.env.test.local
django_tek/tek-app/.env.production.local

django_tek/tek-app/npm-debug.log*
django_tek/tek-app/yarn-debug.log*
django_tek/tek-app/yarn-error.log*
